
.imageContainer{
    position:relative;  
    margin-bottom:4rem;
    margin-top:0;
    max-width:100%;
    padding: 0rem 0rem;
    max-height: 90vh;
    
    img{
        width: 100%;
        padding: 0rem 0rem;
        height:90vh;        
    }

}